@page "/"
@inject HttpClient httpClient
@inject BrowserConsole console
@inject NavigationManager navigationManager
@inject ISessionStorageService sessionStorage


<PageTitle>Signin</PageTitle>

<EditForm Model="@loginModel" class="w-25 mx-auto" OnValidSubmit="HandleValidSubmit" >
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Firm Id</label>
        <InputText class="form-control" @bind-Value="loginModel.FirmId" />
        <ValidationMessage For="@(() => loginModel.FirmId)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Id</label>
        <InputText class="form-control" @bind-Value="loginModel.Id" />
        <ValidationMessage For="@(() => loginModel.Id)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <InputText type="password" class="form-control" @bind-Value="loginModel.Password" />
        <ValidationMessage For="@(() => loginModel.Password)" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Login</button>
    <p class="mt-5">
        @if (!string.IsNullOrEmpty(message))
        {
            <span class="text-danger text-center">@message</span>
        }
    </p>
</EditForm>

@code 
{
    private LoginModal loginModel = new();	
    private string message = string.Empty;

    private async Task HandleValidSubmit()
    {
        try
        {
            var response = await httpClient.PostAsJsonAsync(Endpoints.LoginUrl, loginModel);

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<RootResponse>();
                message = $"Login successful!";
                await sessionStorage.SetItemAsync("Token", result);
                await sessionStorage.SetItemAsync("FirmID", loginModel.FirmId);
                navigationManager.NavigateTo("/dashboard");
            }
            else
            {
                message = "Login Failed";
            }
        }
        catch (Exception ex)
        {
            message = $"Error: {ex.Message}";
            await console.Error(message);
        }
    }
}
